{% extends 'base.html.twig' %}

{% block title %}Affichage attaque{% endblock %}

{% block body %}
<br/>
    <h3>Affichage d'une attaque</h3>
    <br/>
    

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Description</th>
                <th>Puissance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for attack in attacks %}
            <tr id="trpokemon">
                <td>{{ attack.id }}</td>
                <td>{{ attack.name }}</td>
                <td><img src="{{ asset( 'types/' ~ attack.type ~ '.png') }}"/></td>
                <td>{{ attack.description }}</td>
                <td>{{ attack.power }}</td>
                <td><a href="{{ path('skeleton_attacks') }}"><button type="button" class="btn btn-danger">Retour</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">affichage échoué</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
