{% extends 'base.html.twig' %}

{% block title %}Pokemons{% endblock %}

{% block body %}
<br/>
    <h3>Présentation des pokemons</h3>
    <br/>
    
   
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>HP</th>
                <th>Type</th>
                <th>Nature</th>
                <th>Description</th>
                <th>Attaque</th>
                <th>Sprite</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        
        {% for pokemon in pokemons %}
            <tr id="trpokemon">
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.hp }}</td>
                <td><img src="{{ asset( 'types/' ~ pokemon.type ~ '.png') }}"/></td>
                <td>{{ pokemon.nature }}</td>
                <td>{{ pokemon.description }}</td>
                <td>{% for attacks in pokemon.attacks %}
                        <li>{{ attacks }}</li>
                    {% else %}
                        <li>aucune attaque</li>
                    {% endfor %}
                </td>
                <td><img src="{{ asset( 'sprites/' ~ pokemon.name ~ '.png') }}"/></td>
                <td><a href="/pokemon_battle/public/index.php/pokemons/{{pokemon.id}}"><button type="button" class="btn btn-primary">Montrer</button></a></td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas pokemons trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
        </a>
    </table>
{% endblock %}
