{% extends 'base.html.twig' %}

{% block title %}Affichage potion{% endblock %}

{% block body %}
<br/>
    <h3>Affichage d'une potion</h3>
    <br/>
    

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Puissance</th>
                <th>Description</th>
                <th>Sprite</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for potion in potions %}
            <tr id="trpokemon">
                <td>{{ potion.id }}</td>
                <td>{{ potion.name }}</td>
                <td>{{ potion.power }}</td>
                <td>{{ potion.description }}</td>
                <td><img src="{{ asset( 'potions/' ~ potion.name ~ '.png') }}"/></td>
                <td><a href="{{ path('skeleton_potions') }}"><button type="button" class="btn btn-danger">Retour</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas de potions trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
