{% extends 'base.html.twig' %}

{% block title %}Fiche dresseur{% endblock %}

{% block body %}
<br/>
    <h3>Fiche du dresseur {{ app.user.username }}</h3>
    <br/>
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

<br/>
    <h3>Equipe du dresseur {{ app.user.username }}</h3>
    <br/>

<table class="table" id="myTable">
        <thead>
            <tr>
                <th>Surnom</th>
                <th>Pokemon</th>
                <th>Attaque</th>
                <th>Type</th>
                <th>Sprite</th>
                
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr id="trpokemon">
                <td>{{ team.nickname }}</td>
                <td>{{ team.pokemon }}</td>
                <td>{% for attacks in team.attacks %}
                        <li>{{ attacks }}</li>
                    {% else %}
                        <li>aucune attaque</li>
                    {% endfor %}
                </td>
                <td><img src="{{ asset( 'types/' ~ team.pokemon.type ~ '.png') }}"/></td>
                <td><img src="{{ asset( 'sprites/' ~ team.pokemon ~ '.png') }}"/></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucun pokemons trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
